:root {
  --body-bg: #ffebcd;

  --header-bg: #201e1d;
  --header-text: #fab1d9;

  --main-bg: #ffebcd;
  --main-text: #201e1d;
  --main-title-bg: #fab1d9;

  --card-bg: #1b1b1b;
  --card-text: #ffffff;
}
